<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] -Personel Tayin Sistemi</title>

    <!--Bootstrap-->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!--Custom css-->
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/PersonnelTransferRequest.Web.styles.css" asp-append-version="true" />

    <link rel="icon" type="image/png" href="~/images/uyap-logo.png">

    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="~/adminAssets/vendor/fonts/boxicons.css" />

    <!--sweetalert2 Css-->
    <link href="~/adminAssets/vendor/libs/sweetalert2/sweetalert2.css" rel="stylesheet" />


    <!--Select2-->
    <link href="~/adminAssets/vendor/libs/select2/css/select2.min.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-navbar shadow-lg border-bottom  mb-3 py-3">
            <div class="container">
                <div class="d-flex align-items-center">
                    <img width="60" height="60" src="~/images/uyap-logo.png" />
                    <a class="navbar-brand text-white fw-bold text-center ms-2" asp-area="" asp-controller="Home" asp-action="Index">Personel Tayin Sistemi</a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bx bx-grid-alt text-white bx-md"></i>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex align-content-center justify-content-between">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 text-center">
                        <li class="nav-item me-2">
                            <a class="nav-link text-nowrap" href="/profil">Profil</a>
                        </li>

                        <li class="nav-item me-2">
                            <a class="nav-link text-nowrap" href="/tayin-taleplerim">Tayin Taleplerim</a>
                        </li>


                        <partial name="_LoginPartial" />
                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-5">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top py-4">
        <div class="container">
            &copy; @DateTime.Now.Year - Personel Tayin Sistemi - <a class="fw-bolder text-dark " href="https://rasulsonmez.com/" target="_blank">Rasul Sönmez</a>
        </div>
    </footer>
    <!--jQuery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <!--Bootstrap js-->
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!--Custom js-->
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!--cities-->
    <script src="~/js/cities.js"></script>

    <!--sweetalert2-->
    <script src="~/adminAssets/vendor/libs/sweetalert2/sweetalert2.min.js"></script>

    <!--Select2-->
    <script src="~/adminAssets/vendor/libs/select2/js/select2.min.js"></script>

    <!--For success and error message-->
    @if (TempData["SuccessMessage"] != null)
    {
        <script>
    const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
    });
    Toast.fire({
        icon: "success",
        title: '@Html.Raw(TempData["SuccessMessage"])',
    });
        </script>

        TempData.Remove("SuccessMessage");
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <script>
    const Toast = Swal.mixin({
        toast: true,
        position: "top-end",
        showConfirmButton: false,
        timer: 2000,
        timerProgressBar: true,
        didOpen: (toast) => {
            toast.onmouseenter = Swal.stopTimer;
            toast.onmouseleave = Swal.resumeTimer;
        }
    });
    Toast.fire({
        icon: "error",
        title: '@Html.Raw(TempData["ErrorMessage"])',
    });
        </script>

        TempData.Remove("ErrorMessage");
    }

    <!--For success and error message-->
    <!--active class for navbar-->
    <script>
        $(function () {
            var path = window.location.pathname.toLowerCase();

            $('.navbar-nav .nav-link').each(function () {
                var href = $(this).attr('href').toLowerCase();
                if (path === href || path.startsWith(href)) {
                    $('.navbar-nav .nav-link').removeClass('active');
                    $(this).addClass('active');
                }
            });
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
