
@{
    ViewData["Title"] = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ApplicationUser
@{
    ViewData["Title"] = "Profilim";
}

<div class="row justify-content-center mt-5">
    <div class="col-md-8 col-lg-6 col-xl-4">
        <div class="card border-0 custom-box-shadow">

            <div class="card-header bg-first text-white py-3 d-flex align-items-center">
                <h4 class="fw-bolder mt-2">@ViewData["Title"]</h4>
            </div>
          
            <div class="card-body">
                <ul class="list-unstyled">
                    <li class="mb-4">
                        @if (!string.IsNullOrEmpty(Model.ProfilPhotoPath))
                        {
                            <div class="d-flex justify-content-center">
                                <img class="rounded-2" src="@Model.ProfilPhotoPath" alt="Profil Fotoğrafı" width="150" />
                            </div>

                        }
                        else
                        {
                            <span><i class="bx bx-user-circle bx-md text-muted"></i></span>
                        }
                    </li>
                    <li class="mb-2">
                        <span class="fw-bolder">Sicil:</span>
                        <span>@Model.RegistrationNumber</span>
                    </li>

                    <li class="mb-2">
                        <span class="fw-bolder">Unvan:</span>
                        <span>@Model.Title</span>
                    </li>

                    <li class="mb-2">
                        <span class="fw-bolder">İsim Soyisim:</span>
                        <span class="text-capitalize">@Model.Name @Model.Surname</span>
                    </li>

                 
                    <li class="mb-2">
                        <span class="fw-bolder">TCKN:</span>
                        <span>@Model.TCKN</span>
                    </li>

                    <li class="mb-2">
                        <span class="fw-bolder">GSM:</span>
                        <span>@Model.GSM</span>
                    </li>
                    <li class="mb-2">
                        <span class="fw-bolder">Görevli olduğu adliye:</span>
                        <span>@Model.DutyStation</span>
                    </li>
                    <li class="mb-2">
                        <span class="fw-bolder">Email:</span>
                        <span>@Model.Email</span>
                    </li>
                  
                </ul>
            </div>
        </div>
    </div>
</div>

